<form (submit)="$event.preventDefault()" [formGroup]="taskInputFormGroup">
  <div class="header-container">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Duration</mat-label>
      <input matInput formControlName="durationSeconds" />
    </mat-form-field>
  </div>

  <mat-form-field class="contents-text-area">
    <mat-label>Contents</mat-label>
    <textarea matInput formControlName="contents"></textarea>
  </mat-form-field>
</form>
