<mat-action-list
  class="task-list-item"
  *ngFor="let task of (tasks$ | async) || []"
>
  <app-task-list-item
    [task]="task"
    (onDelete)="handleDelete(task.id)"
    (onEdit)="handleEdit(task)"
  />
</mat-action-list>
<mat-paginator
  [length]="(paginationState$ | async)?.itemsCount || 0"
  [pageSize]="(paginationState$ | async)?.pageSize || 0"
  [pageSizeOptions]="[1, 5, 10, 25, 100]"
  (page)="handlePageChange($event)"
/>

<button mat-fab color="primary" (click)="handleAdd()">
  <mat-icon>add</mat-icon>
</button>
